/* .footer__address-thumb {
    flex-direction: column;
    min-width: 231px;
}


.footer__address {
    font-style: inherit;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts__guide {
    line-height: 1.71;
    color: $primary-white-color;

}

.contacts__nav {
    line-height: 1.71;
    color: $secondary-white;

    transition: color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    } */
/* } */