.modal {
    position: absolute;
    top: 90px; 
    left: 50%; 
    transform: translate(-50%);  

   /*  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
 
    
    width: 450px;
    height: 609px;
    padding: 0;

    background-color: $primary-white-color;
    box-shadow: $modal-window-box-shadow;
    border-radius: $modal-window-border-radius;


    @media screen and (min-width: $desktop) {
        width: 528px;
        height: 581px;
        top: 50%;
        left: 50%;
    
        transform: translate(-50%, -50%);
    }

}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.modal__caption {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    width: 370px;

    color: $secondary-text-color;

    @media screen and (min-width: $desktop) {
        line-height: 1.15;
        width: 448px;  
    }
}

.form-field {

    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-field__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-field__input-wrapper {
    position: relative;
}

.form-field__input {

    padding: 11px 12px 11px 42px;
    width: 370px;
    height: 40px;

    border: $modal-input-border;
    border-radius:$modal-window-border-radius;
    transition: border $transition-duration $transition-timing-function;

    &:hover, &:focus {
        border: 1px solid $accent-color;
    }

    @media screen and (min-width: $desktop) {
        width: 448px;  
    }
}

.form-field__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: $secondary-text-color;
    transition: fill $transition-duration $transition-timing-function;

    .form-field__input:hover~&, .form-field__input:focus~& {
        fill: $accent-color;
    }
}

.form-field--textarea {
    margin-bottom: 20px;
}

.form-field__textarea {
    resize: none;

    padding: 12px 16px;

    width: 370px;
    height: 120px;
    font: inherit;

    border: $modal-input-border;
    border-radius: $modal-window-border-radius;
    transition: border $transition-duration $transition-timing-function;

    &:hover, &:focus {
        border: 1px solid $accent-color;
    }

    @media screen and (min-width: $desktop) {
        width: 448px;
    }
}

.checkbox {
    margin-bottom: 30px;

    display: block;
    width: 370px;
    height: 24px;

    font-size: 12px;
    line-height: 1.17;

    @media screen and (min-width: $desktop) {
        width: 423px;
        font-size: 14px;
        line-height: 1.71;
    }
}

.checkbox__agree {
    position: relative;
    margin-left: 23px;
}

.checkbox__icon-wrapper {
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 15px;

    border: 2px solid $brand-color;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .checkbox__checked:checked+.checkbox__agree & {
        background-color: $accent-color;
        border: none;
        border-radius: 2px;
    }

}

.checkbox__agree-icon {
    fill: transparent;

    .checkbox__checked:checked+.checkbox__agree & {
        fill: $primary-white-color;
    }
}

.checkbox__link {
    color: $accent-color;
}

