.filters {
    display: flex;
    
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
        width: 326px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 30px;
        justify-content: center;
    } 
    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
    
}

.filters__item {
    
    &:not(:first-child) {
        margin-left: 8px;
    }

    @media screen and (max-width: 767px) {

        &:nth-child(4) {
            margin-left: 0;
        }

        &:nth-child(-n + 3) {
            margin-bottom: 15px;
        }
    }

}

.filters__btn {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    color: $secondary-text-color;

    transition: color $transition-duration $transition-timing-function,
    background-color $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function;

    &:hover, &:focus {
        color: $primary-white-color;
        background-color: $accent-color;
        box-shadow: $box-shadow-portfolio-filter;
    }

}
